/* font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif; */

:root {
  --font-family-heading: "Poppins", sans-serif;
  --font-family-paragraph: "Playfair Dispaly", Serif;
  --background-color: #f9f7fe;
  --secondary-color: #6c63ff;
}

.hero {
  text-align: center;
  background: #f9f7fe;

  padding: 160px 20px;
}

.about {
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #272142;
  margin-bottom: 15px;
}

h1,
h2 {
  font-style: normal;
  line-height: 36px;
}

h1 {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 70px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 45px;
}

.about-section h1 {
  font-family: Playfair Display;
  font-style: Bold;
  font-size: 55px;
  line-height: 65px;
  /* line-height: 100%; */
  color: #000000;
  margin-bottom: 15px;
}
h2 {
  margin-bottom: 49px;
  font-family: var(--font-family-heading);
  font-weight: normal;
  font-size: 24px;
}

.about-section h2 {
  font-family: Poppins;
  font-style: Bold;
  font-size: 18px;
  line-height: 15px;
  color: #272142;
  margin: 29px 80px 28px 120px;
}

.about-section p {
  font-family: Poppins;
  font-style: Regular;
  font-size: 16px;
  line-height: 30px;
  /* Line height: 125% */

  color: rgba(39, 33, 66, 0.7);
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  padding: 18px 46px;
  font-family: var(--font-family-heading);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.weather-project-title {
  font-style: Bold;
  font-size: 50px;
  line-height: 50px;
}

.lorem {
  font-family: var(--font-family-paragraph);
  font-style: Regular;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
}

.lorem-section {
  /* margin: 30px 0px 40px 0px; */
  margin: 50px 60px 180px 50px;
}

.weather-image {
  max-width: 100%;
}

.ego-image {
  width: 546px;
}

.weather-image-logo {
  width: 546px;
}

.about-section img {
  width: 500px;
  border-radius: 6px;
}
.btn-branding-weather {
  padding: 14px 30px;
  color: #6c63ff;
  border: 1px solid #6c63ff;
  font-size: var(--font-family-heading);
}

@media screen and (max-width: 900px) {
  .weather-image {
    display: none;
  }

  .lorem-section {
    margin: 0;
  }
  .weather-complete-app {
    text-align: center;
  }

  h1 {
    font-size: 35px;
    margin: 0;
    line-height: 60px;
  }

  .hero {
    padding: 160px 20px 80px 20px;
  }

  .weather-project-title {
    margin-bottom: 20px;
  }

  .featured-project-heading {
    margin-bottom: 20px !important;
  }
}
