/* font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif; */

:root {
  --font-family-heading: "Poppins", sans-serif;
  --font-family-paragraph: "Playfair Dispaly", Serif;
  --background-color: #f9f7fe;
  --secondary-color: #6c63ff;
}

/* body {
  position: relative;
}

nav {
  position: fixed;
} */

.nav-container {
  padding: 20px 0px;
}

nav li {
  display: inline;
  line-height: 45px;
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 250ms ease-in-out;
}
nav a:hover {
  color: #6c63ff !important;
}

nav li.active a {
  color: #6c63ff;
}

nav ul {
  padding: 0;
  font-family: var(--font-family-heading);
}

nav img {
  border-radius: 50%;
  /* border: 5px solid #6c63ff; */
}

.hero {
  text-align: center;
  background: #f9f7fe;

  padding: 100px 20px;
}

.content {
  /* text-align: center; */
  padding: 60px 20px 0 120px;
  margin: 30px;
}

.hero p {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  color: #272142;
  margin-bottom: 15px;
}

h1,
h2 {
  font-style: normal;
  line-height: 36px;
}

h1 {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 60px;
  line-height: 30px;
  color: #000000;
  margin-bottom: 45px;
}

.about-content-section h1 {
  font-family: Playfair Display;
  font-style: Bold;
  font-size: 45px;
  line-height: 55px;
  /* line-height: 100%; */
  color: #000000;
  margin-bottom: 15px;
}

.work-page h1 {
  font-size: 64px;
  /* line-height: 80px; */
  padding: 60px 80px 40px 30px;
}

h2 {
  margin-bottom: 49px;
  font-family: var(--font-family-heading);
  font-weight: normal;
  font-size: 24px;
}

.content-section h2 {
  font-family: Poppins;
  font-style: Bold;
  font-size: 18px;
  line-height: 15px;
  color: #272142;
  margin: 29px 80px 28px 120px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
}

.work-page p {
  line-height: 0 !important;
}

.content-section p {
  font-family: Poppins;
  font-style: Regular;
  font-size: 16px;
  line-height: 30px;
  /* Line height: 125% */

  color: rgba(39, 33, 66, 0.7);
}

.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  padding: 18px 46px;
  font-family: var(--font-family-heading);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
}

.btn-branding-about-section {
  background: var(--secondary-color);
  border-radius: 4px;
  font-family: var(--font-family-heading);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: white;
}

.weather-project-title {
  font-style: Bold;
  font-size: 50px;
  line-height: 50px;
}

.lorem {
  font-family: var(--font-family-paragraph);
  font-style: Regular;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 30px;
}

.lorem-section {
  /* margin: 30px 0px 40px 0px; */
  margin: 50px 60px 180px 50px;
}

.weather-image {
  max-width: 100%;
}

.ego-image {
  width: 546px;
}

.weather-image-logo {
  width: 546px;
}

.content-section img {
  width: 450px;
  height: 325px;
  border-radius: 6px;
}
.btn-branding-weather {
  padding: 14px 30px;
  color: #6c63ff;
  border: 1px solid #6c63ff;
  font-size: var(--font-family-heading);
}

.footer-work-inquiry {
  padding: 49px 119px 50px 119px;
  background: #f9f7fe;
  border-radius: 4px;
}

h3 {
  font-size: 48px;
}

.email-link {
  font-family: Poppins;
  font-style: Medium;
  font-size: 24px;
  transition: all 250ms ease-in-out;
}

.email-link a {
  color: black;
}

.email-link a:hover {
  color: #6c63ff;
  opacity: 0.7;
}

footer .social-links a {
  margin: 0 20px;
  /* background: blue; */
  padding: 10px 15px;
  border-radius: 50%;
  background: #f9f7fe;
  transition: all 250ms ease-in-out;
}

footer .social-links a:hover {
  background-color: #6c63ff;
}

@media screen and (max-width: 900px) {
  .weather-image {
    display: none;
  }

  .lorem-section {
    margin: 0;
  }
  .weather-complete-app {
    text-align: center;
  }

  h1 {
    font-size: 35px;
    margin: 0;
    line-height: 60px;
  }

  .hero {
    padding: 160px 20px 80px 20px;
  }

  .weather-project-title {
    margin-bottom: 20px;
  }

  .featured-project-heading {
    margin-bottom: 20px !important;
  }

  ul {
    margin-right: 80px;
  }

  a {
    font-size: 14px;
  }

  nav li {
    font-size: 12px;
    margin: 3px;
  }

  .nav-container img {
    width: 50px;

    height: 40px;
    padding: 0 0 0 15px;
    border-radius: 4px;
  }
}
